* { margin:0;
    padding: 0;
    box-sizing: border-box
}


@font-face {
    font-family:AvertaDemoPECuttedDemo-Regular;
    src: url(/fonts/averta/AvertaDemoPECuttedDemo-Regular.otf);
    src: url(/codigo/fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
    src: url(/codigo/fonts/Poppins/Poppins-BoldItalic.ttf);
    text-shadow: 4px solid black;
}

body{
    background-color: #F5eee8;
    font-family: AvertaDemoPECuttedDemo-Regular;

}

.bg-navbar{
    background-color: #fda4ba;
    border-bottom: 3px solid #795034;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
}

.navbar-toggler{
    margin-right: 1rem;
}

.nav-link{
    margin-left: 1rem;
}

h1 {
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
    font-size: 2em;
    margin-left: 0.5rem;
}

.fa-bars{
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
}

.b-marron{
    border: 4px solid #795034;
    border-radius: 15px 15px 15px ;
}

.b-marron-light{
    border: 2px solid #795034;
    border-radius: 15px 15px 15px ;
}

.b-marron-top{
    border-top: 4px solid #795034;
}

h2{
    color: #795034;
    text-shadow: 2px 2px 2px #fda4ba ;
    
}

.mw-70{
    max-width: 60%;
}
.mw-50{
    max-width: 50%;
}

.img-gabi-principal{
    max-width: 315px;
}

.next-previous-detail{
    border: 3px solid #795034;
    border-radius: 13px;
}

div .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-fluid {
    margin: none;
    margin-left: none;
    margin-right: none;
}

#carouselWithIndicators{
    width: 95%;
    margin: auto;
}

.carousel-item img{
    border: 3px solid #795034;
    border-radius: 15px;
}

section{
    margin-top: 10px;
    padding: 10px;

    color: #795034;
    text-shadow: 1px 1px 1px #fda4ba;

    border-top: 3px solid #795034;

}

section h3{
    font-size: 2em;
}

section h4{
    font-size: 1.2em;
    margin: none;
}

.fa-thumbtack{


    color: #795034;
    text-shadow:none;
    transform: rotate(45deg);
    margin-right: 0.5rem;
}

.form-detail{
    color: #795034;
    font-size: 1em;
    text-shadow: 1px 1px 1px #fda4ba;
}

.btn-enviar-vaciar-detail{
    color: #795034;
    font-size: 1em;
    text-shadow: 1px 1px 1px #fda4ba;
}

.icon-footer-detail {
    color: #795034;
    font-size: 1.7em;
    padding:0.30rem 0.8rem;
    border: 2px solid #795034;
    border-radius: 100px;
    text-shadow: 2px 2px 2px #fda4ba;
}

.p-footer-detail{
    color: #795034!important;
    text-shadow: 2px 2px 2px #fda4ba;
}

@media screen and (max-width:500px){
    

    h1{
        font-size:1.3em;
    }
    .display-5{
        font-size: 1.3em;
    }
    section h3{
    font-size: 1.7em ;
    }

    section h4{
        font-size: 1em ;
        }
}

@media screen and (min-width:1400px){
    .form-detail{
        border: 0;
        
    }
}
/* 
@font-face {
    font-family:AvertaDemoPECuttedDemo-Regular;
    src: url(/fonts/averta/AvertaDemoPECuttedDemo-Regular.otf);
    src: url(/codigo/fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
    src: url(/codigo/fonts/Poppins/Poppins-BoldItalic.ttf);
    text-shadow: 4px solid black;
}

body{
    background-color: #F5eee8;
    font-family: AvertaDemoPECuttedDemo-Regular;

}


.layout-grid{
    height: 100%;
    width: 100vw;

    display: grid;
    grid-template-areas:
    "header"
    "images"
    "descripcion"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 5fr 3fr 1fr;

    color: #795034;
    text-align: center;
    
    gap: 10px;
    text-shadow: 1px 1px 1px #fda4ba;
}

.layout-grid-confeccion{
    height: 100%;
    width: 100vw;

    display: grid;
    grid-template-areas:
    "header"
    "images"
    "descripcion"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 5fr 3fr 1fr;

    color: #795034;
    text-align: center;
    
    gap: 10px;
    text-shadow: 1px 1px 1px #fda4ba;
}

.layout-grid-tienda{
    height: 100%;
    width: 100vw;

    display: grid;
    grid-template-areas:
    "header"
    "images"
    "descripcion"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1.5fr 3fr 0.7fr;

    color: #795034;
    text-align: center;
    
    text-shadow: 1px 1px 1px #fda4ba;
}

.layout-grid-gabi{
    height: 100%;
    width: 100vw;

    display: grid;
    grid-template-areas:
    "header"
    "images"
    "descripcion"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 3.5fr 3fr 0.7fr;

    color: #795034;
    text-align: center;
    
    text-shadow: 1px 1px 1px #fda4ba;
}

.layout-grid-clientes{
    height: 100%;
    width: 100vw;

    display: grid;
    grid-template-areas:
    "header"
    "images"
    "descripcion"
    "footer";

    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr auto 3fr 0.7fr;

    color: #795034;
    text-align: center;
    
    gap: 10px;
    text-shadow: 1px 1px 1px #fda4ba;
}

main{
    grid-area: descripcion;

    color: #795034;
    text-shadow: 1px 1px 1px #fda4ba;

    border-top: 3px solid #795034;

}

main h3{
    font-size: 2em;
    margin-bottom: 0.7rem;
}

main h4{
    padding:0.6rem 0;
    font-size: 1.2em;
}

.fa-thumbtack{
    color: #795034;
    text-shadow:none;
    transform: rotate(45deg);
    margin-right: 0.5rem;
}

header{
    grid-area: header;

    max-height: 100%;
}

.menu {
    text-shadow: 2px 2px 2px #795034;
    color:#F5eee8;


    
    display: flex;

    justify-content: space-evenly;
}

.titulo {
    font-size: 1.1em;
    width: 100%;

    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;

    display: flex;
    flex-direction: column;
    justify-content: center
}

.subtitulo{
    text-align: center;
    font-size: 0.8em;
    width: 100%;
}

.nav-bar {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #fda4ba;
    position: fixed;
    overflow: hidden;
    z-index: 10;
    max-height:16vh;
    height: 100%;
    border-bottom: 3px solid #795034;
}

#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width:100% ;
    margin-top: 3px;
    transform: translateX(-100vw);
    transition: transform 250ms ease-in-out;
    backdrop-filter: blur(10px);

    text-shadow: 4px 3px 0px #795034 ;

    font-size: 1.25em;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #F5eee8;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #F5eee8;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.6s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #F5eee8;
    box-shadow: 2px 2px 2px #795034;
}
.horizontal {
    transition: all 0.6s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.6s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.6s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.6s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
    box-shadow: 3px -2px 2px  #795034;

}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.6s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
    box-shadow: -3px -2px 2px  #795034;
}

.redes-bar-menu{
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
}

.container-images{
    grid-area: images;
}

.container-images-tienda{
    grid-area: images;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: auto;
}

.images-menu-principal{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;

    padding: 1rem;
    height: 100%;
    overflow: hidden;
}

.images-menu-principal div{
    border: 3px solid #795034;
    border-radius: 10px;
}

.image1{
    background-image: url(../images/local1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    grid-row:1/4;
    grid-column: 1/13;

}

.image2{
    background-image: url(../images/localinterior2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-row:4/8;
    grid-column: 1/13;
}

.image3{
    background-image: url(../images/gabi2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-row: 8/13;
    grid-column: 2/12;
}

.images-flex{
    display: flex;
    justify-content: center;
    align-content: center;
}

.images-flex img{
    margin: 0.3rem;

    border: 3px solid #795034;
    border-radius: 10px;
}

.images-tienda{
    background-image: url(../images/localinterior2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 90vw;
    height: 40vh;
    
    border: 3px solid #795034;
    border-radius: 10px;
    
}

.descripcion-gabi{
    grid-area: images;

    margin: auto;

    overflow: hidden;
}

.image-gabi{
    background-image: url(../images/gabi2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 90vw;
    height: 50vh;

    border: 3px solid #795034;
    border-radius: 10px;
    margin:0 1rem;

}

.texto-gabi{

    background-color: #fda4ba;

    color: #F5eee8;
    text-shadow:1px 1px 1px #795034;
    font-size: 1.2em;

    border: 3px solid #795034;
    border-radius: 10px;

    margin:0 1rem;
    margin-top: 1rem;
}

.texto-gabi p{

    margin:1rem 0.5rem;

}

.images-confeccion{

    text-shadow: 1px 1px 1px #fda4ba;
        display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;

    gap: 10px;

    padding: 1rem;
    height: 100%;
    overflow: hidden;

    border-bottom:3px solid #795034 ;
}

.images-perchero1{
    background-image: url(../images/perchero1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 1/10;
    grid-row: 1/4;

    border: 3px solid #795034;
    border-radius: 10px;
}

.images-perchero3{
    background-image: url(../images/perchero3.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 1/10;    grid-row: 4/8;
    
    border: 3px solid #795034;
    border-radius: 10px;
}

.images-perchero4{
    background-image: url(../images/perchero4.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    grid-column: 1/10;
        grid-row: 8/12;
    
    border: 3px solid #795034;
    border-radius: 10px;
}

.images-clientes{
    grid-area:images;
    border-bottom: 3px solid #795034;
    padding-bottom: 1rem;
}

.images-clientes div img{
    border: 3px solid #795034;
    border-radius: 10px;
}
.footer {
    grid-area: footer;

    height: 30vh;

    display: flex;
    justify-content:space-evenly;
    flex-direction: column;

    border-top: 3px solid #795034;
}

.footer a {
    box-shadow: none;
    text-decoration: none;
    list-style: none;
    color: #795034;
    font-size: 1.7em;
    padding:0.15rem 0.8rem;
    border: 2px solid #795034;
    border-radius: 100px;
    text-shadow: 1px 1px 1px #fda4ba;
}

.footer p {
    font-size: 1.15rem;
}

legend{
    padding-top: 0.5rem;
}

.contacto{
    color:#795034;
    font-size: 1.15em;
}

.contacto div{
    margin-left: 0.5rem;
}

.nombre-apellido {
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
}

.num-telefono{
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
}

.tipo-telefono{
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
    display: block;
}

.tipo-telefono-fijo {
    margin-left: 0.7rem;
    margin-top: 0.5rem;
}

.tipo-telefono-movil{
    margin-left: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom:0.5rem;
}

.cuadro-consulta {
    margin-top: 1rem;
    display: block;
    flex-direction: column;
}

.cuadro-consulta label {
    display: block;
    height: 100%;
}

.enviar-vaciar-consulta {
    margin: 0.6rem;
}

@media screen and (min-width:481px) and (max-width:768px){
    h1{
    font-size:2.5em;
    }

    h2{
        font-size: 1.7em;
    }
    #sidebarMenu{
        transform: translateX(-768px);
    }

    .layout-grid{
        grid-template-rows: 60px 1700px 400px 100px;
    }

    header{
        height: 60px;
    }

    .nav-bar{
    height: 60px;
    }

    .footer{
        height: 90px;
    }

    div.image3{
        margin-bottom: 10px;
    }

    h3{
        margin-top: 10px;
    }

    .layout-grid-tienda{
        grid-template-rows: 60px 370px 430px 100px;
    }

    .layout-grid-confeccion{
        grid-template-rows: 60px 3000px 480px 100px;
    }

    .layout-grid-clientes{
        grid-template-rows:60px auto 480px 100px;
    }

    .layout-grid-gabi{
        grid-template-rows: 60px 650px 490px 100px;
    }
} 

@media screen and (min-width:769px) and (max-width:1024px){
    h1{
    font-size:2.5em;
    }

    h2{
        font-size: 1.7em;
    }
    #sidebarMenu{
        transform: translateX(-1150px);
    }

    
    .layout-grid{
        grid-template-rows: 60px 1700px 400px 100px;
    }

    header{
        height: 60px;
    }

    .nav-bar{
    height: 60px;
    }

    .footer{
        height: 90px;
    }

    div.image3{
        margin-bottom: 10px;
    }

    h3{
        margin-top: 10px;
    }

    .layout-grid-tienda{
        grid-template-rows: 60px 370px 430px 100px;
    }

    .layout-grid-confeccion{
        grid-template-rows: 60px 3000px 480px 100px;
    }

    .layout-grid-clientes{
        grid-template-rows:60px auto 480px 100px;
    }

    .layout-grid-gabi{
        grid-template-rows: 60px 450px 490px 100px;
    }

    .descripcion-gabi{
        display: grid;
        grid-template-areas: "foto texto";
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr;
    }

    .image-gabi{
        grid-area: foto;
        width: 90%;
        margin: auto;
    }

    .texto-gabi{
        grid-area:texto ;  
        margin: 0;
        width: 90%;
        height: 100%;
        margin: auto;
    }

}

@media screen and (min-width:1025px) and (max-width:1440px){

    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    #sidebarMenu{
        transform: translateX(-1440px);
    }

    .layout-grid{
        grid-template-rows: 60px 1700px 400px 100px;
    }

    header{
        height: 70px;
    }

    .nav-bar{
    height: 70px;
    }

    .footer{
        height: 90px;
    }

    div.image3{
        margin-bottom: 10px;
    }
    

    .layout-grid-tienda{
        grid-template-rows: 70px 370px 430px 100px;
    }

    .layout-grid-confeccion{
        grid-template-rows: 70px 3000px 480px 100px;
    }

    .layout-grid-clientes{
        grid-template-rows:70px auto 480px 100px;
    }

    .layout-grid-gabi{
        grid-template-rows: 70px 450px 490px 100px;
    }

    .descripcion-gabi{
        display: grid;
        grid-template-areas: "foto texto";
        grid-template-rows: 100%;
        grid-template-columns: 1fr 1fr;
        max-width: 100vw;
    }

    .image-gabi{
        grid-area: foto;
        width: 90%;
        margin: auto;
    }

    .texto-gabi{
        grid-area:texto ;  
        margin: 0;
        width: 90%;
        height: 100%;
        margin: auto;
    }

    .images-menu-principal{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows:  1fr 1fr 1fr 1fr 1fr ;
    }

    .images-menu-principal .image1{
        grid-column: 2/15;
        grid-row: 1/3 ;

    }

    .images-menu-principal .image2{
        grid-column: 2/15;
        grid-row:3/5 ;

    }

    .images-menu-principal .image3{
        grid-column:6/11;
        grid-row: 5/7 ;
        margin: 0;
    }

}

@media screen and (min-width:1441px) {
    h1{
        font-size:2.5em;
        }
    
        h2{
            font-size: 1.7em;
        }
        #sidebarMenu{
            transform: translateX(-1150px);
        }
    
        
        .layout-grid{
            grid-template-rows: 60px 1700px 400px 100px;
        }
    
        header{
            height: 60px;
        }
    
        .nav-bar{
        height: 60px;
        }
    
        .footer{
            height: 90px;
        }
    
        div.image3{
            margin-bottom: 10px;
        }
    
        h3{
            margin-top: 10px;
        }
    
        .layout-grid-tienda{
            grid-template-rows: 60px 370px 430px 100px;
        }
    
        .layout-grid-confeccion{
            grid-template-rows: 60px 3000px 480px 100px;
        }
    
        .layout-grid-clientes{
            grid-template-rows:60px auto 480px 100px;
        }
    
        .layout-grid-gabi{
            grid-template-rows: 60px 450px 490px 100px;
        }
    
        .descripcion-gabi{
            display: grid;
            grid-template-areas: "foto texto";
            grid-template-rows: 100%;
            grid-template-columns: 1fr 1fr;
        }
    
        .image-gabi{
            grid-area: foto;
            width: 90%;
            margin: auto;
        }
    
        .texto-gabi{
            grid-area:texto ;  
            margin: 0;
            width: 90%;
            height: 100%;
            margin: auto;
        }
    
    }
    
    @media screen and (min-width:1441px) {
    
        h1{
            font-size: 3em;
        }
        h2{
            font-size: 2em;
        }
        #sidebarMenu{
            transform: translateX(-100vw);
        }
    
        .layout-grid{
            grid-template-rows: 60px 2000px 400px 100px;
            gap: 10px;
        }
    
        header{
            height: 70px;
        }
    
        .nav-bar{
        height: 70px;
        }
    
        .footer{
            height: 90px;
        }
    
        div.image3{
            margin-bottom: 30px;
        }
        
    
        .layout-grid-tienda{
            grid-template-rows: 70px 370px 430px 100px;
        }
    
        .layout-grid-confeccion{
            grid-template-rows: 70px 3000px 480px 100px;
        }
    
        .layout-grid-clientes{
            grid-template-rows:70px auto 480px 100px;
        }
    
        .layout-grid-gabi{
            grid-template-rows: 70px 450px 590px 100px;
        }
    
        .descripcion-gabi{
            display: grid;
            grid-template-areas: "foto texto";
            grid-template-rows: 100%;
            grid-template-columns: 1fr 1fr;
            max-width: 100vw;
        }
    
        .image-gabi{
            grid-area: foto;
            width: 90%;
            margin: auto;
        }
    
        .texto-gabi{
            grid-area:texto ;  
            margin: 0;
            width: 90%;
            height: 100%;
            margin: auto;
        }
    
        .images-menu-principal{
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-template-rows:  1fr 1fr 1fr 1fr 1fr ;
            border-bottom:3px solid #795034 ;
        }
    .images-tienda{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    legend{
        margin-top: 3rem;
    }
        main{
            border: none;
            margin-top: 30px;
            
        }
        .images-menu-principal .image1{
            grid-column: 2/15;
            grid-row: 1/3 ;
    
        }
    
        .images-menu-principal .image2{
            grid-column: 2/15;
            grid-row:3/5 ;
    
        }
    
        .images-menu-principal .image3{
            grid-column:6/11;
            grid-row: 5/7 ;
            margin: 0;
        }
}

.animacion-principal {
    animation-name: animacion-principal;
    animation-duration: 0.7s;
    position: relative;
    transition: transform 0.7s easeInOutQuad;
    }

    @keyframes animacion-principal {
        0% {top:-300vh;}
        5% {top:-275vh;}
        10% {top:-250vh;}
        15% {top:-225vh;}
        20% {top:-200vh;}
        25% {top:-175vh;}
        30% {top:-150vh;}
        35% {top:-125vh;}
        40% {top:-100vh;}
        45% {top:-75vh;}
        50% {top:-50vh;}
        55% {top:-45vh;}
        60% {top:-40vh;}
        65% {top:-35vh;}
        70% {top:-30vh;}
        75% {top:-25vh;}
        80% {top:-20vh;}
        85% {top:-15vh;}
        90% {top:-10vh;}
        95% {top:-5vh}
        100% {top:0;}
    } 
    */