* { margin:0;
    padding: 0;
    box-sizing: border-box
}


@font-face {
    font-family:AvertaDemoPECuttedDemo-Regular;
    src: url(/fonts/averta/AvertaDemoPECuttedDemo-Regular.otf);
    src: url(/codigo/fonts/Montserrat/static/Montserrat-BoldItalic.ttf);
    src: url(/codigo/fonts/Poppins/Poppins-BoldItalic.ttf);
    text-shadow: 4px solid black;
}

body{
    background-color: #F5eee8;
    font-family: AvertaDemoPECuttedDemo-Regular;

}

.bg-navbar{
    background-color: #fda4ba;
    border-bottom: 3px solid #795034;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
}

.navbar-toggler{
    margin-right: 1rem;
}

.nav-link{
    margin-left: 1rem;
}

h1 {
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
    font-size: 2em;
    margin-left: 0.5rem;
}

.fa-bars{
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
}

.b-marron{
    border: 4px solid #795034;
    border-radius: 15px 15px 15px ;
}

.b-marron-light{
    border: 2px solid #795034;
    border-radius: 15px 15px 15px ;
}

.b-marron-top{
    border-top: 4px solid #795034;
}

h2{
    color: #795034;
    text-shadow: 2px 2px 2px #fda4ba ;
    
}

.mw-70{
    max-width: 60%;
}
.mw-50{
    max-width: 50%;
}

.img-gabi-principal{
    max-width: 315px;
}

.next-previous-detail{
    border: 3px solid #795034;
    border-radius: 13px;
}

div .container-fluid{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-fluid {
    margin: none;
    margin-left: none;
    margin-right: none;
}

#carouselWithIndicators{
    width: 95%;
    margin: auto;
}

.carousel-item img{
    border: 3px solid #795034;
    border-radius: 15px;
}

section{
    margin-top: 10px;
    padding: 10px;

    color: #795034;
    text-shadow: 1px 1px 1px #fda4ba;

    border-top: 3px solid #795034;

}

section h3{
    font-size: 2em;
}

section h4{
    font-size: 1.2em;
    margin: none;
}

.fa-thumbtack{


    color: #795034;
    text-shadow:none;
    transform: rotate(45deg);
    margin-right: 0.5rem;
}

.form-detail{
    color: #795034;
    font-size: 1em;
    text-shadow: 1px 1px 1px #fda4ba;
}

.btn-enviar-vaciar-detail{
    color: #795034;
    font-size: 1em;
    text-shadow: 1px 1px 1px #fda4ba;
}

.icon-footer-detail {
    color: #795034;
    font-size: 1.7em;
    padding:0.30rem 0.8rem;
    border: 2px solid #795034;
    border-radius: 100px;
    text-shadow: 2px 2px 2px #fda4ba;
}

.p-footer-detail{
    color: #795034!important;
    text-shadow: 2px 2px 2px #fda4ba;
}

@media screen and (max-width:500px){
    

    h1{
        font-size:1.3em;
    }
    .display-5{
        font-size: 1.3em;
    }
    section h3{
    font-size: 1.7em ;
    }

    section h4{
        font-size: 1em ;
        }
}

@media screen and (min-width:1400px){
    .form-detail{
        border: 0;
    }

    .carrusel-confeccion-detail{
        max-width: 50%;
    }

    .image-gabi-detail{
        max-width: 30%;
    }

    .descripcion-gabi-detail{
    max-width: 50%;
    }
}
