
.icon-footer-detail {
    color: #795034;
    font-size: 1.7em;
    padding:0.30rem 0.8rem;
    border: 2px solid #795034;
    border-radius: 100px;
    text-shadow: 2px 2px 2px #fda4ba;
}

.p-footer-detail{
    color: #795034!important;
    text-shadow: 2px 2px 2px #fda4ba;
}