.form-detail{
    color: #795034;
    font-size: 1em;
    text-shadow: 1px 1px 1px #fda4ba;
}

.btn-enviar-vaciar-detail{
    color: #795034;
    font-size: 1em;
    text-shadow: 1px 1px 1px #fda4ba;
}
