
.bg-navbar{
    background-color: #fda4ba;
    border-bottom: 3px solid #795034;
}

.navbar-light .navbar-nav .nav-link.active{
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
    
}

.navbar-light .navbar-nav .nav-link {
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
}

.navbar-toggler{
    margin-right: 1rem;
}

.nav-link{
    margin-left: 1rem;
}

.fa-bars{
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
}

h1 {
    color: #F5eee8;
    text-shadow: 2px 2px 2px #795034;
    font-size: 2em;
    margin-left: 0.5rem;
}